<div class="col-sm-12 col-md-6 border shadow-nh mx-auto p-4 ">

    <h2 class="text-center mb-5">Forgot your password?</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group">
      <%= f.label :email, class:"form-label"%>
      <div class="input-group">
        <i class="fa fa-envelope-o input-group-addon" aria-hidden="true" id="basic-addon1"></i>
        <%= f.email_field :email, class:"form-control input-md" %>
      </div>
    </div>

    <div class="form-group">
      <div class="actions">
        <%= f.submit "Send me reset password instructions", class: "btn btn-info" %>
      </div>
    </div>

</div>

<% end %>
