<div class="col-sm-12 col-md-6 mx-auto">

  <h1 class="text-center">Albums</h1>

  <% Array(@albums).each do |album| %>
    <div class="card shadow">

      <%= link_to album, class: "text-center d-block" do %>
      <%= image_tag album.photos.find(album.cover_photo).image.url(:display), class:"text-center d-block img-fluid rounded card-img-top" unless album.cover_photo.nil? %>
    <% end %>

    <div class="card-body">
      <p class="card-text text-left d-inline"><%= album.title %></p>
      <% if !current_user.nil? && current_user.admin?%>
      <div class="dropdown text-right float-right">
        <button class="btn btn-primary dropdown-toggle" type="button"
         id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <%= link_to 'Edit', edit_album_path(album), class: "text-center d-block" %>
          <%= link_to 'Destroy', album, method: :delete, data: { confirm: 'Are you sure?' },
           class: "text-center d-block" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  <br>
<% end %>


</div>
