<p id="notice"><%= notice %></p>

<h1 class="text-center">Photos</h1>

<%= link_to 'New Photo', new_photo_path %>

<% @photos.each do |photo| %>
<div class="row">
  <div class="col"></div>
    <div class="col-8">
          <%= photo.title %>
          <%= image_tag photo.image.url, size:"400" %>
          <%= link_to 'Show', photo %></td>
          <%= link_to 'Edit', edit_photo_path(photo) %>
          <%= link_to 'Delete', photo, method: :delete, data: { confirm: 'Are you sure?' } if admin_signed_in? %>
    </div>
  <div class="col"></div>
  <% end %>

</div>
