<div class="row">

<div class="col"></div>
<div class="col-sm-8 col-md-4">
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @photo.title %>
</p>

  <%= image_tag @photo.image.url , size:'260x180' %>

</div>
<div class="col"></div>
<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
</div>
